.vdo_dsc a:hover {
  color: #25aae2 !important;
}

.footer .sp100 {
  padding: 0;
}

.pricing_area .price_head p {
  padding: 0 10px;
}

.price_body .default-btn {
  background-color: green !important;
}

.price_body .default-btn:before {
  background-color: #25aae2 !important;
}

#tldr {
    background-color: green;
    padding: 0px 5px !important;
}

#tldr:hover {
  color: white !important;
  background-color: #25aae2;
}

.price_head a {
  color: white;
  background-color: green;
  padding: 0 5px;
}

.price_head a:hover {
  background-color: #25aae2;
}
